<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="accent" class="drop-shadow-sm example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon aria-hidden="false" aria-label="Menu">menu</mat-icon></button
    ><span class="toolbar-spacer"></span>
    <mat-icon aria-hidden="false" aria-label="Verified User"
      >verified_user</mat-icon
    >
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      style="width: 26ch"
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <div class="flex-auto p-2">Sidebar content</div>
      <!-- <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{
          nav
        }}</a>
      </mat-nav-list> -->
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="flex-auto">
        <router-outlet></router-outlet>
      </div>
      <!-- <p *ngFor="let content of fillerContent">{{ content }}</p> -->
    </mat-sidenav-content> </mat-sidenav-container
  ><mat-toolbar color="primary" class="flex justify-around example-bottombar">
    <mat-icon aria-hidden="false" aria-label="Search">search</mat-icon
    ><mat-icon aria-hidden="false" aria-label="Favorites"
      >favorite_border</mat-icon
    ><mat-icon aria-hidden="false" aria-label="Notifications"
      >notifications_none</mat-icon
    >
  </mat-toolbar>
</div>
