<div
  class="
    sm:h-5/6
    m-3
    sm:m-0
    grid
    content-main-layout
    backdrop-blur
    rounded-lg
    sm:rounded-none
    border-0
    sm:border-2
    border-opacity-10
  "
>
  <div
    class="
      py-16
      sm:pt-24 sm:pb-0
      lg:pt-32
      justify-self-center
      font-josefin-sans--semi-bold
      text-white text-5xl
      sm:text-7xl
      lg:text-8xl
      drop-shadow
    "
  >
    Clairveillance
  </div>
</div>
<mat-toolbar class="invisible sm:visible h-1/6" color="primary"></mat-toolbar>
