<div class="app-container" [class.is-mobile]="mobileQuery.matches">
  <app-header (sidenav)="sidenav.toggle()"></app-header
  ><mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      style="width: 26ch"
      #sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      fixedBottomGap="0"
      class="sidenav-color bg-gray-50 p-2"
    >
      <div class="flex-auto">Sidebar content</div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="flex-auto">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content> </mat-sidenav-container
  ><app-footer></app-footer>
</div>
