@import "./scss/material-custom";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./scss/font";

html,
body {
  height: 100%;
  @extend .body--background-image;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.body--background-image {
  background-image: url("./assets/image/background-main.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.app-main--container {
  width: 100%;
  height: 100%;
}

.font-josefin-sans--semi-bold {
  font-family: "Josefin Sans SemiBold", sans-serif;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
