<div>
  <mat-toolbar color="accent" class="drop-shadow-sm">
    <mat-icon aria-hidden="false" aria-label="Menu">menu</mat-icon
    ><span class="toolbar-spacer"></span>
    <mat-icon aria-hidden="false" aria-label="Verified User"
      >verified_user</mat-icon
    >
    <!-- <mat-icon aria-hidden="false" aria-label="User"
      >account_box</mat-icon
    > -->
    <!-- <mat-icon aria-hidden="false" aria-label="Manage account"
      >manage_accounts</mat-icon
    > -->
    <!-- <mat-icon aria-hidden="false" aria-label="No accounts"
    >no_accounts</mat-icon
  > -->
    <!-- <mat-icon aria-hidden="false" aria-label="Admin panel"
    >admin_panel_settings</mat-icon
  > --></mat-toolbar
  >
</div>
